{% extends 'master.html' %}

 {% block main %} 
    <script>


      function printsave() {
        window.print()
      }
      
      </script>
   
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="../../home/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../../brand/">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="../../stock/">Stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../sell">Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../ShippingVendor/">Vendor</a>
        </li>
       
          <li class="nav-item">
            <a class="nav-link active" href="../../summary">Summary</a>
          </li>
      </ul>
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="../">Stock Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Sell Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../PrescriptionSummary/">Prescriptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../ExpenditureSummary">Expenditure</a>
        </li>
     
        <li class="nav-item">
            <a class="nav-link" href="../download_Stock/">Download Stock CSV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../download_Sell/">Download Sell CSV</a>
          </li>
      </ul>
      
    <div>
        <br></br>
      <div class=container>
        <form class="row g-3" method="POST" enctype="multipart/form-data" id="form1">
            {% csrf_token %}
            <div class="col-6">
              <label for="inputFromDate" class="form-label">From Date</label>
              <input type="date" class="form-control" id="FromDate" name="FromDate">
            </div>  
            <div class="col-6">
                <label for="inputBrandName" class="form-label">To Date</label>
                <input type="date" class="form-control" id="ToDate" name="ToDate">
              </div>
              <div class="col-12">
                <label class="form-label">Please enter either both dates or none of the dates</label>
              </div>
              <div class="col-6">
                <label for="inputBrandName" class="form-label">Brand Name</label>
                <input type="text" class="form-control" id="BrandName" name="BrandName">
              </div> 
              
              <div class="col-6">
            <label for="FullPayment" class="form-label">Full Payment</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="FullPayment" id="  " value=1>
              <label class="form-check-label" for="inlineRadio1">Pending</label>
            </div> 
        </div>  
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="submit" class="btn btn-primary" name="clear" value="clear">Clear Search</button>
                <button type="submit" class="btn btn-primary" id="print" onclick=printsave()>Print/Save</button>
                
              </div>
            </div>
            </div>
    <div class="container">
            <table class="table table-striped table-bordered" id="sortTable">
              <thead>
              <tr>
                <th>SellId</th>
                <th>Selling Date</th>
                <th>Sold To Name</th>
                <th>Brand Name</th>
                <th>Frame Price</th>
                <th>Lens Price</th>
                <th>Selling Price</th>
                <th>Discount Percent</th>
                <th>Advance Amount</th>
                <th>Remaining Amount</th>
                <th>Payment Mode</th>
                <th>Is Full Payment Done</th>
                <th>Full Payment Date</th>
                <th>Remaining Amt PaymentMode</th>   
            </tr>
          </thead>
            {% for item in AllSell %}
            <tr> 
                <td>{{ item.SellId }}</td>
                <td>{{ item.SoldOnDate }}</td>
                <td>{{ item.SoldToName }}</td>
                <td>{{ item.BrandName}}</td>
                <td>{{ item.FramePrice}}</td>
                <td>{{ item.LensPrice }}</td>
                <td>{{ item.SellingPrice }}</td>
                <td>{{ item.DiscountPercent }}</td>
                <td>{{ item.AdvanceAmount }}</td>
                <td>{{ item.RemainingAmount }}</td>
                <td>{{ item.PaymentMode }}</td>
                {% if item.FullPaymentDone == True %}
                    <td>Yes</td>
                {% else %}    
                    <td>No</td>
                {% endif %} 
                <td>{{ item.FullPaymentDate }}</td>
                <td>{{ item.RemainingAmtPaymentMode }}</td>
                
                
            </tr>
            {% endfor %}
            </table>
    </div>
    <script>
      $('#sortTable').DataTable();
      </script>

      {% endblock %}

